.idea
.yardoc
.DS_Store
doc/
rdoc/
Gemfile.lock
pkg
tmp
.sass-cache
tmp
log
.rvmrc
.rspec_status
/coverage/
/.bundle/
.rbenv-version
.ruby-gemset
.ruby-version
/spec/dummy/uploads/
/spec/dummy/db/*.sqlite3*
/spec/dummy/public/assets
